* {}

.app {
    padding: 15px;
    text-align: left;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #ff33cc 10%, #0000ff 70%);
    justify-content: center;
    color: white;
}

.chat-box {
    border: 2px solid #222222;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #222222;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

.chat-card {
    border-radius: 9px;
    font-size: 12px;
    font-weight: inherit;
    margin: 10px 20px 5px 20px;
    padding: 7px;
    background-color: dimgray;
}
